<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./Js/vue.js"></script>
    <link rel="stylesheet" href="./ElementUi/index.css" />
    <link rel="icon" href="favicon.ico" />
    <script src="./ElementUi/index.js"></script>
    <script src="./Js/axios.min.js"></script>
    <style type="text/css">
      body{
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        position: absolute;
      }
      .el-menu{
        border: none;
      }
      .el-menu-item.is-active{
        color: #303133;
      }
    </style>
    <title>主入口</title>
</head>
<body style="height:100%;">
<div id="left" style="width: 16%; height: 100%;overflow: auto;border-right: solid 1px #e6e6e6;float: left;overflow-x: hidden;">
<el-menu
    default-active="2"
    class="el-menu-vertical-demo">
    <el-submenu v-for="(v,k) in data" :key="v.id" :index="String(k)">
      <template slot="title">
        <i :class=v.ico></i>
        <span>{{v.label}}</span>
      </template>
      <el-menu-item v-for="(item) in v.children" :key="item.id"><i :class=item.ico></i>{{item.label}}</el-menu-item>
    </el-submenu>
</el-menu>
</div>
</body>
<script>
function  arrToTree(arr, id) {
           let children = [] // 用于存放子节点
            arr.forEach(v => {
          // 找出对应的id的节点
          if (v.job === id) {
            let obj = { label: v.name ,pid:v.pid,src:v.src,id:v.id,ico:v.ico}
            // 继续递归遍历找出子节点
            let node = arrToTree(arr, v.pid)
            // 判断是否有子节点
            if(node.length) obj.children = node
            // 将子节点添加到数组
            children.push(obj)
          }
        })
        // 返回找到的结果
        return children
        }
    var app=new Vue({
        el:'#left',
        data:{
          data:[],
        },
        created(){
          axios.get('./json/tree.json').then(response => {
             let tree = []
             // 找出所有根节点
             this.data=response.data.arr;
          if(this.data!==undefined){
            this.data.forEach((v, i) => {
            if (v.job=="") {
              tree.push({ label: v.name,pid:v.pid,src:v.src,id:v.id,ico:v.ico, children: arrToTree(this.data, v.pid) })
            }
            })
            this.data = tree // 将转换结果显示到页面
            //console.log(JSON.parse(JSON.stringify( tree )));
          }
        })
        },
        methods:{

        }
    })
</script>
</html>